[init]
	defaultBranch = master
[user]
	name = "Daara Shaw"
{{- if eq .chezmoi.os "darwin" }}
  email = dev@daara.me
{{- else if eq .chezmoi.os "linux" }}
  email = "d.shaw@draftkings.com"
{{- end }}
[merge]
	tool = "nvim"
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "nvim"]
	cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[alias]
  # run git alias-master-as-main on repos to be able to use main instead of master
  # from https://adamj.eu/tech/2022/10/27/git-how-to-alias-master-as-main/
	alias-master-as-main = !git symbolic-ref refs/heads/main refs/heads/master && git symbolic-ref refs/remotes/origin/main refs/remotes/origin/master && git switch main
[push]
	autoSetupRemote = true
[help]
	autocorrect = prompt
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
  colorMoved = default
