[init]
	defaultBranch = master
[user]
	name = "Daara Shaw"
{{- if eq .chezmoi.os "darwin" }}
  email = dev@daara.me
{{- else if eq .chezmoi.os "linux" }}
  email = "d.shaw@draftkings.com"
{{- end }}
[merge]
  tool = "nvim"
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "nvim"]
  cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[push]
  autoSetupRemote = true
  default = current
[help]
  autocorrect = prompt
[core]
  pager = delta
  excludesFile = "~/.gitignore"
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
  colorMoved = default
  algorithm = histogram
